<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>The Red Planet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" >
    <script src="main.js"></script>
</head>
<body>
<div padding=10% class="container bg-secondary text-light">
    <br>
    <br>
    <div class="jumbotron bg-warning text-dark">
        <div class="col-sm-12"> <h1><center>Recent Headlines from the Red Planet</center></h1> </div>
    </div>
    <br>
    <center><button type="button" class="btn btn-success btn-lg">Scrape</button></center>
    <br>
    <br>
  <div class="jumbotron bg-danger text-light">
    <div class="col-sm-12"> <h2> <center> {{mars.0}} </center></h2></div>
    <div class="col-sm-12"> <h3> <center>{{mars.1}} </center></h3></div> 
  </div>
<div class="row">
<div class="col-sm-6">
    <img width=80% src={{mars.2}} class="img-fluid">
</div>
<div class="col-sm-6 bg-warning">
    <center>
        <br>
        <table width=70% border="1" class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th><center>Measurement Type</center></th> <th><center>Measurement</center></th> </tr> </thead> <tbody> <tr> <th>0</th> <td>Equatorial Diameter:</td> <td>6,792 km</td> </tr> <tr> <th>1</th> <td>Polar Diameter:</td> <td>6,752 km</td> </tr> <tr> <th>2</th> <td>Mass:</td> <td>6.42 x 10^23 kg (10.7% Earth)</td> </tr> <tr> <th>3</th> <td>Moons:</td> <td>2 (Phobos &amp; Deimos)</td> </tr> <tr> <th>4</th> <td>Orbit Distance:</td> <td>227,943,824 km (1.52 AU)</td> </tr> <tr> <th>5</th> <td>Orbit Period:</td> <td>687 days (1.9 years)</td> </tr> <tr> <th>6</th> <td>Surface Temperature:</td> <td>-153 to 20 °C</td> </tr> <tr> <th>7</th> <td>First Record:</td> <td>2nd millennium BC</td> </tr> <tr> <th>8</th> <td>Recorded By:</td> <td>Egyptian astronomers</td> </tr> </tbody></table></center>
</div>
</div>
<br>
<br>
<div class="row">
<div padding=10% class="col-sm-12 bg-primary">
<br>
<br>
    <center><h3>Current Weather</h3></center>
<br>
    <center><h4>{{mars.3}}</h4></center>
<br>
<br>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <center>
        <img width=90% src={{mars.5}}>
        </center>
        <p><center>{{mars.6}}</center></p>
    </div>
    <div class="col-sm-6">
        <center>
        <img width=90% src={{mars.7}}>
        </center>
        <p><center>{{mars.8}}</center></p>
    </div>
</div>

<div class="row">
        <div class="col-sm-6">
            <center>
            <img width=90% src={{mars.9}}>
            </center>
            <p><center>{{mars.10}}</center></p>
        </div>
        <div class="col-sm-6">
            <center>
            <img width=90% src={{mars.11}}>
            </center>
            <p><center>{{mars.12}}</center></p>
        </div>
</div>

</div>
</body>



</html>